@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --tmt: hsl(4, 100%, 67%);
    --tmt-op: hsl(4, 100%, 67%, 0.5);
    --dsg: hsl(234, 29%, 20%);
    --cg: hsl(235, 18%, 26%);
    --g: hsl(231, 7%, 60%);
    --w: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--cg);
}

.container-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    background-color: var(--w);
    height: max-content;
    width: max-content;
    border-radius: 30px;
    max-width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5)
}

.items:first-child{
    display: flex;
    padding: 60px;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: max-content;
}

.items:last-child{
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: max-content;
}

h1{
    font-size: 4rem;
}

ul li{
    list-style: none;
}

.item-list{
    padding: 10px;
    padding-left: 30px;
    position: relative;
    line-break: loose;
}

.item-list::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background: no-repeat;
    background-image: url("./assets/images/icon-list.svg")
}

p{
    font-size: 1rem;
    margin: 20px 0;
}

.items img{
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
    padding: 20px 20px 20px 0px;
}

.email{
    margin: 20px 0 0 0;
    font-size: 0.88rem;
    font-weight: 700;
    position: relative;
}

.email-req{
    display: none;
    color: var(--tmt);
    right: 0;
    position: absolute;
}

.active{
    display: inline;
}

.inputbox{
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    border: 1px solid var(--g);
}

.inputbox:hover,.inputbox:focus{
    outline: none !important;
    background-color: var(--tmt-op);
    color: var(--tmt);
    border: 1px solid var(--tmt)
}

form{
    display: flex;
    flex-direction: column;
}

button{
    font-size: 1rem;
    padding: 20px;
    color: var(--w);
    border-radius: 10px;
    background-color: var(--dsg);
    cursor: pointer;
}

.success-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--w);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 500px;
    height: max-content;
    border-radius: 30px;
    padding: 60px;
    position: relative;
}
.success-items{
    padding: 20px;
}
.dismiss-but,.sub-butt{
    width: 100%;    
}

@media (max-width: 768px){
    .items:first-child{
        order: 2;
        padding: 10px;
        max-width: 100%;
    }
    .items:last-child{
        order: 1;
    }
    .container-wrapper{
        flex-direction: column;
        width: max-content !important;
    }
    .items img{
        content: url("./assets/images/illustration-sign-up-mobile.svg");
        padding: 0px;
        margin: 0px;
        object-fit:cover;
        width: 100%;
        border-radius: auto auto  40px 40px;
    }
    button.sub-butt{
        margin: 20px 0px;
    }
    button.dismiss-button{
        margin:0px;
    }
    .success-wrapper{
        height: 100%;
        padding: 50px 20px 20px 20px;

    }
    .thanks{
        margin: 30px 0;
        font-size: 3rem;
    }
}